/* #region page */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
}

@font-face {
    font-family: 'Berlin';
    src: url('./fonts/berlinsansfbdemi-bold/BRLNSDB.TTF');

}

/* #endregion */
/* #region header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(#5b005f, #000000);
}

.header-container {
    width: 100%;
}

.logo_img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navigation {
    padding: 20px 10px;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav_link {
    position: relative;
    list-style: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-family: 'Berlin';
    transition: 0.3 ease-in-out;
}

.nav_link:hover {
    /* box-shadow: 0 0 10px 15px rgb(250, 0, 154); */
}

.nav_link::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.nav_link:hover::after {
    transform: scaleX(1);
    box-shadow: 0 0 10px 5px rgb(250, 0, 154);
}

/* #endregion */
/* #region first screen */
.first_screen {
    position: relative;
    height: 100%;
    width: 100%;
}

.banner {
    width: 100%;
    object-fit: cover;
    height: 800px;
    overflow: hidden;
}

.banner_wrapper {
    position: relative;
}

.banner_mask {
    position: absolute;
    opacity: 0.8;
    background: linear-gradient(101deg, #34005f 33.97%, #24003b 87%);
    width: 100%;
    height: 100%;
}

.banner_circle {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 40%;
    opacity: 0.2;
    animation-name: banner_circle;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
}

@keyframes banner_circle {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.banner_title {
    position: absolute;
    left: 222px;
    top: 40px;
    color: #fff;
    font-family: 'Berlin';
    font-size: 50px;
    font-weight: 800;
    width: 400px;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(255, 0, 106, 0.815)
}

.banner_button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
    right: 200px;
    width: 350px;
    border-radius: 10px;
    height: 90px;
    background: linear-gradient(rgba(148, 69, 213, 1) 0%, rgba(255, 224, 10, 1) 100%);
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0.8s;

}

.banner_button:hover {
    background: linear-gradient(rgba(255, 224, 10, 1) 0%, rgba(148, 69, 213, 1) 100%);
}

.banner_persons {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.banner_person-second {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
}

/* #endregion */
/* #region second screen */
.second_screen {
    background-image: url('./images/image-1.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.cards {
    width: 100%;
    margin-top: 100px;
}

.cards_list {
    display: flex;
    justify-content: space-between;
}

.cards_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    background-color: #021133;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.cards_item:hover {
    outline: 3px solid #bf2f82;
    box-shadow: 0 0 10px 15px rgb(250, 0, 154);
    transform: translateY(-20px);
}

.cards_image {
    width: 240px;
    height: 200px;
    object-fit: cover;
    object-position: 18px 0px;
}

.cards_text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.cards_title {
    font-family: 'Berlin';
    color: #fff;
    font-size: 60px;
}

.cards_description {
    font-family: 'Berlin';
    color: #dd2808;
    font-size: 40px;
}

.cards_description--support {
    color: #05c03d;
}

.cards_description--tank {
    color: #00d9ff;
}

.cards_list--2 {
    margin-top: 40px;
}

/* #endregion */